
button {
  cursor: pointer;
}

.error {
  background-color: pink;
}

h2 {
  background-color: lightblue;
  border-radius: 5px;
}

.outer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  border: 1px solid black;
  border-radius: 5px;
  height: 400px;
  width: 400px;
}

.row-item {
  margin: 5px 10px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
