.error {
  /* border: 2px solid red; */
  background-color: pink;
}

h2 {
  background-color: lightblue;
  border-radius: 5px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.outter-div {
  width: 400px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -175px;
}
.inner-header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: lightblue;
  border-width: 2px;
}

.container {
  padding: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

table {
  border: 1px solid #dddddd;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tight-tr {
  width: 0%;
}
