
          

.outter-div {
  width: 50%;
  border: 2px solid lightblue;
}

.inner-header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: lightblue;
  border-width: 2px;
}

.container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

table {
  border: 1px solid #dddddd;
  width: 100%;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

.tight-tr {
  width: 0%;
}



