.btn {
  cursor: pointer;
}
option.break {
  word-break: break-all;
  white-space: normal;
}

.list-wrapper {
  border: none;
  padding: 5px;
  overflow: auto;
  height: 250px;
}

.list-title {
  display: flex;
  justify-content: center;
}

.option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  word-break: break-all;
  padding: 2px;
}

select {
  display: block;
  width: 100%;
}

div.y-scroll {
  width: auto;
  height: 275px;
  overflow: scroll;
}

.container {
  justify-content: space-between;
  word-wrap: break-word;
  width: auto;
  display: inline-block;
}

.row:nth-child(odd) {
  background: lightgray;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
